
.nav {
   
    background-color: rgba(139, 228, 203, 1);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}


body {
  background-color: rgba(139, 228, 203, 1);
}




 .tokyo-travel {
    color: #90dac5;
    text-align: left;
    font-family: "noto sans-Bold", sans-serif;
    font-size: 500%;
    font-weight: 700;
    position: fixed;
    left: 3%;
    top: 85%;
}
  
.vector {
   
    position: fixed;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: -160%;
   
    overflow: visible; 
    width: 200%;
    height: 500%;
  
  
  }
